.local-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    }

  .local-card {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    }

  .local-heading {
    text-align: center;
    margin-bottom: 10px;
    fontSize: '14px'
  },

  .local-dayBox {
    background-color: #6a1b9a;
    color: white;
    text-align: center;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    }

  .local-inputBox {
    display: flex;
    gap: 5px;
  },

  .local-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  },

  .local-button: {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  },

  .locall-taskItem {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #eee;
  padding: 5px;
  border-radius: 3px;
}

.locall-deleteBtn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 3px;
}
